* {
  padding: 0;
  margin: 0;
}
section {
  text-align: center;
  font-size: 20px;
}
.paragraph {
  color: purple;
  width: 300px;
  height: 100px;
  padding: 20px;
  margin: 10px;
  font-style: italic;
  font-weight: bold;
  border: 2px solid black;
}
.special {
  color: red;
}
.listItem {
  color: blue;
  font-size: 24px;
}
.listItem:last-child{
  color: green;
}
.listItem:nth-child(2){
  color:aquamarine;
}
.main {
  width: 50%;
  
}
.image {
  width: 50%;
  
}
.coolImage{
  width: 50px;
  height: 50px;
  background: url("https://avatars.githubusercontent.com/u/11501370?s=280&v=4");
  background-size: cover;
  border: 1px solid red;
}